@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-black text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 3px solid transparent;
  background-clip: content-box;
}